<!DOCTYPE html>
<html>
<head>
	<title>Signup | Online exam site</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="../../app.js"></script>
</head>
<body ng-app="main">
	<header>
		
	</header>
	<div ng-controller="signupController as c" class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>{{c.head}}</h1>
				<form ng-submit="c.signup()">
					<div class="form-group">
						<label>Name:</label><input type="text" ng-model="c.fromData.name" class="form-control" ><br>
						<label>Email:</label><input type="text" ng-model="c.fromData.email" class="form-control"><br>
						<label>UserName:</label><input type="text" ng-model="c.fromData.username" class="form-control"><br>
						<label>Password:</label><input type="text" ng-model="c.fromData.password" class="form-control"><br>
						<label>Role:</label><input type="text" ng-model="c.fromData.role" class="form-control"><br>
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer>
		
	</footer>
</body>
</html>